@import 'normalize';
@import 'variables';
@import 'accessibilite';
@import 'mixins';
@import 'masonry';
@import 'nav';
@import 'front-page';
@import 'form';
@import 'gallery-list';
@import 'footer';

html {
  line-height: 1.4;
  font-size: 16px;
}

* {
  box-sizing: border-box;
  &:focus {
    outline: 1px solid $hover;
  }
}

body {
  background: $dark;
}

.site-container {
  background-color: $dark;
  color: $font-light;
  font-family: $sans-serif;
  max-width: 1600px;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    color: $hover;
  }
  &:active {
    color: $hover;
  }
}

.site-inner {
  padding-top: 120px;
  padding-bottom: 120px;
  min-height: 100vh;
}

.max-width {
  margin: 0 1rem;
  @include device(xl) {
    max-width: 1200px;
    margin: 0 auto;
  }
}
/* Position des blocs hors du flux HTML */
.position-hf {
  position: relative;
  .wrap {
    position: absolute;
    left: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    @include device(xl) {
      max-width: 1200px;
      padding: 0;
      left: 50%;
      margin-left: -600px;
      right: 50%;
      margin-right: -600px;
    }
  }
}
.position-hf-top {
  .wrap {
    top: 0;
  }
}
.position-hf-bottom {
  .wrap {
    bottom: 0;
  }
}
.text {
  &-dark {
    color: $font-dark;
  }
  &-light {
    color: $light;
  }
  &-serif {
    font-family: $serif;
  }
  &-sans-serif {
    font-family: $sans-serif;
  }
  &-thin {
    font-weight: 300;
  }
  &-bold {
    font-weight: 600;
  }
  &-align-center {
    text-align: center;
  }
}

.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}
.no-margin-padding {
  margin: 0;
  padding: 0;
}

.list {
  &-style-none {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.mobile-only {
  @include device(l) {
    display: none;
  }
}

.site-header {

  .wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;

    @include device(l) {
        align-items: flex-start;
    }
  }

}

.title-area {
  height: 60px;
}

.singular {
.title-area {

    @include device(s) {
      padding-left: 78px;
      position: relative;
      &:before {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 70px;
        height: 70px;
        background-image: url('../images/mflogo-2023.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }

    }

}
}

/* -------------------------------------------

# .entry

------------------------------------------- */

.entry-title {
  font-weight: 300;
}

.entry-content {
  margin-top: 60px;
  h1,h2,h3,h4,h5 {
    font-family: $serif;
    font-weight: 300;
  }
  h2 {
    margin-top: 60px;
    font-size: 1.777rem;
    color: $light;
  }
  a {
      text-decoration: underline;
  }
}

svg {
  fill: $font-dark;
  width: 28px;
  height: 28px;
  &:hover {
    fill: $hover;
  }
}
